<!doctype html>
<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
</head>
<body>
<h1>Waterusage</h1>
<div id="water"></div>
<script>
var Waterusage_data = [
<% sensorlogs.forEach(function(sensorlog){ %>
  {"Period": <%= dateFormat(sensorlog.timestamp) %>, "Temperature": <%= sensorlog.value1 %>, "Liter": <%= sensorlog.value2 %>, "Battery": <%= sensorlog.value3 %>},
<%  }) %>
];
Morris.Line({
  element: 'water',
  data: Waterusage_data,
  xkey: 'Period',
  ykeys: ['Liter','Temperature','Battery'],
  labels: ['Liter','Temperature','Battery'],
  dateFormat: function (x) { return new Date(x).toDateString(); }
});
function Datems() {
    document.getElementById("demo").innerHTML = "Paragraph changed.";
}
</script>
</body>
