<!doctype html>
<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
  <script src="../node_modules/moment/moment.js"></script>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
</head>
<body>
<h1>Waterusage</h1>
<div id="water"></div>
<h1>Temperature</h1>
<div id="temp"></div>
<h1>Battery</h1>
<div id="volt"></div>
<% sensorlogs.forEach(function(sensorlog){ %>
<%= moment(sensorlog.timestamp).format(DateFormat) %>

<br>
<%  }) %>
<script>
var timestamp_data = [
<% sensorlogs.forEach(function(sensorlog){ %>
  {"Period": <script>(new Date("<%= sensorlog.timestamp %>").getTime()/1000)</script>, "Liter": <%= sensorlog.value1 %>},
<%  }) %>

];
Morris.Line({
  element: 'water',
  data: timestamp_data,
  xkey: 'Period',
  ykeys: ['Liter'],
  labels: ['Liter'],
  dateFormat: function (x) { return new Date(x).toDateString(); }
});
function Datems() {
    document.getElementById("demo").innerHTML = "Paragraph changed.";
}
</script>
</body>
